body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 300vh;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: white;
  padding: 10px ;
  top: 0;
  position: sticky;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.logo-container img {
  max-width: 100px;
  height: 40px;
  margin-top: 10px;
}
.logo-container h3 {
  position: absolute;
  color: #2c2f3a;
  top: 0;
  margin-left: 80px;
  width: 160px;
}
.highlight {
  color: #0f32b1;
  font-weight: bold;
}
.highlight2 {
  width: 120px;
  height: 8px;
  left: 68px;
  font-size: 14px;
  letter-spacing: 3px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.nav-links:hover {
  color: salmon;
}
.nav-links li a {
  text-decoration: none;
  color: #60677f;
  padding: 15px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}
.nav-links li a.discover {
  color: #0f32b1;
  font-weight: bold;
}
.nav-links li a:hover {
  color: salmon;
}

.select-arrow1:hover,
.select-arrow2:hover {
  background-color: salmon;
  color: white;
}

.select-arrow1,
.select-arrow2 {
  border: none;
  color: #60677f;
  pointer-events: none;
}

.buttons {
  margin-right: 70px;
}
.buttons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.signin-btn {
  width: 100px;
  height: 48px;
  border: none;
  font-size: 16px;
  border-radius: 100px;
  background-color: #0f32b1;
  color: white;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.signin-btn:hover {
  color: black;
  border: 1px solid salmon;
  background-color: white;
  transform: scale(1.03);

}

.download-btn {
  width: 198px;
  height: 48px;
  vertical-align: middle;
  display: inline-block;
  background-color: white;
  border-radius: 100px;
  border: solid salmon 2px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.download-btn:hover {
  background-color: rgb(156, 172, 193) ;
  border: none;
  transform: scale(1.03);
}

.download-btn .plus {
  font-size: 1.8em;
  color: #0f32b1;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.download-btn span {
  display: inline-block;
  vertical-align: middle;
  color: salmon;
  left: 60px;
  transform: translateX(16%);
  cursor: pointer;
}

section {
  position: relative;
}

.background-img img {
  width: 100%;
  height: 420px;
  display: block;
  filter: brightness(55%);
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.line1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.line2 {
  font-size: 16px;
  margin-bottom: 100px;
}
.search-box {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: 85px;
  top: 340px;
  height: 184px;
  width: 1305px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-icon {
  position: absolute;
  top: 29.5%;
  left: 42px;
  color: #a2a4ae;
  transform: translateY(-50%);
}

.search-box div {
  display: flex;
  margin-top: 25px;
}
.search-box input {
  width: 1050px;
  height: 50px;
  color: #dee0e7c1;
  padding-left: 65px;
  font-size: 16px;
  border: 1px solid #d1d3dc;
  border-radius: 100px;
}
.search-box button {
  margin-top: 25px;
  margin-left: 17px;
}
.search-button {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.search-button button {
  width: 120px;
  height: 55px;
  margin-bottom: 30px;
  background-color: #0f32b1;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-button button:hover {
  background-color: white;
  color: black;
  border: 1px solid salmon;
  transform: scale(1.02);
}
.search-info {
  width: 105%;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 5px;
}

.search-info > div {
  padding: 8px;
}

.search-info button {
  height: 48px;
  background-color: white;
  width: 180px;
  border-radius: 8px;
  border: 1px solid #d1d3dc;
  padding: 10px;
  cursor: pointer;
}
.info1,
.info2,
.info3,
.info4,
.info5,
.info6 {
  display: flex;
  align-items: center;
}

.info1 button,
.info2 button,
.info3 button,
.info4 button,
.info5 button,
.info6 button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d1d3dc;
  border-radius: 8px;
}

.info1 select,
.info2 select,
.info3 select,
.info4 select,
.info5 select,
.info6 select {
  margin-left: auto;
}
.search-info span {
  font-family: "Noto Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #2c2f3a;
}
select {
  pointer-events: none;
  border: none;
  color: #2c2f3a;
}
.showing-result {
  display: flex;
}
.text {
  position: absolute;
  margin-top: 170px;
  margin-left: 90px;
}
.text1 {
  width: 100px;
  color: #60677f;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}
.text2 {
  position: absolute;
  width: 250px;
  margin-top: 20px;
  left: 0px;
  color: #2c2f3a;
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Sans";
  right: 0px;
}
.Sort-by {
  display: flex;
}
.Sort-by h5 {
  position: absolute;
  font-size: 16px;
  color: #60677f;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  margin: 190px 10px 100px 1150px;
}
.Sort-by button {
  overflow-x: hidden;
  position: absolute;
  margin: 200px 10px 10px 1215px;
  border-radius: 8px;
  border: 1px solid #60677f;
  height: 40px;
  width: 177px;
  bottom: 20px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.Sort-by button:hover {
  transform: scale(1.01);
}
.Sort-by button span {
  font-weight: 500;
  font-size: 16px;
  color: #2c2f3a;
  font-family: "Noto Sans", sans-serif;
}
.Sort-by button select {
  margin-left: 30px;
}
hr1 {
  position: absolute;
  width: 88.5%;
  border-bottom: 1.5px solid #d1d3dc;
  top: 750px;
  left: 90px;
}
/* ----- This is css For card colleges -----*/

.colleges {
  position: absolute;
  display: grid;
  margin-left: 90px;
  top: 30px;
  right: 66px;
  bottom: 1200px;
  width: 1216px;
  margin: 20px;
  grid-template-columns: repeat(3, 5fr);
  gap: 44px 44px;
  
}

.card {
  height: 284px;
  width: 384px;
  border-radius: 12px;
  border: 1px solid #d1d3dc;
  padding: 10px;
  cursor: pointer;
}

.card1 h2,
h4,
.love-icon {
  position: relative;
}
.card1 img {
  margin-top: 10px;
  margin-left: 10px;
}
.card1 h2 {
  margin-top: 23px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #2c2f3a;
  margin-left: 90px;
  bottom: 98px;
}
.Technology2 {
  position: absolute;
  margin-top: 8px;
  right: 205px;
}
.card1 h4 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  margin-left: 90px;
  bottom: 80px;
}

.card1 .btn i {
  position: absolute;
  top: 25px;
  font-size: 20px;
  right: 830px;
  height: 10px;
}
.card1 {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card1:hover {
  border: 1.5px solid salmon;
}
.card2 .btn i {
  position: absolute;
  top: 25px;
  font-size: 20px;
  right: 380px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card2:hover {
  border: 1.5px solid salmon;
}
.card3 .btn i {
  position: absolute;
  top: 25px;
  font-size: 20px;
  left: 1260px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card3:hover {
  border: 1.5px solid salmon;
}
.card4 .btn i {
  position: absolute;
  top: 370px;
  font-size: 20px;
  left: 370px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card4:hover {
  border: 1.5px solid salmon;
}
.card5 .btn i {
  position: absolute;
  top: 370px;
  font-size: 20px;
  left: 815px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card5:hover {
  border: 1.5px solid salmon;
}
.card6 .btn i {
  position: absolute;
  top: 370px;
  font-size: 20px;
  left: 1263px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card6:hover {
  border: 1.5px solid salmon;
}
.card7 .btn i {
  position: absolute;
  top: 725px;
  font-size: 20px;
  left: 360px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card7:hover {
  border: 1.5px solid salmon;
}
.card8 .btn i {
  position: absolute;
  top: 725px;
  font-size: 20px;
  left: 815px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card8:hover {
  border: 1.5px solid salmon;
}
.card9 .btn i {
  position: absolute;
  top: 725px;
  font-size: 20px;
  left: 1265px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card9:hover {
  border: 1.5px solid salmon;
}
.card10 .btn i {
  position: absolute;
  top: 1070px;
  font-size: 20px;
  left: 360px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card10:hover {
  border: 1.5px solid salmon;
}
.card11 .btn i {
  position: absolute;
  top: 1070px;
  font-size: 20px;
  left: 810px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card11:hover {
  border: 1.5px solid salmon;
}
.card12 .btn i {
  position: absolute;
  top: 1070px;
  font-size: 20px;
  left: 1260px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card12:hover {
  border: 1.5px solid salmon;
}
.card1 .btn i:hover,
.card2 .btn i:hover,
.card3 .btn i:hover,
.card4 .btn i:hover,
.card5 .btn i:hover,
.card6 .btn i:hover,
.card7 .btn i:hover,
.card8 .btn i:hover,
.card9 .btn i:hover,
.card10 .btn i:hover,
.card11 .btn i:hover,
.card12 .btn i:hover {
  transform: scale(1.1);
}
.card1 hr,
.card2 hr,
.card3 hr,
.card4 hr,
.card5 hr,
.card6 hr,
.card7 hr,
.card8 hr,
.card9 hr,
.card10 hr,
.card11 hr,
.card12 hr {
  position: relative;
  bottom: 70px;
  width: 105%;
  right: 10px;
}
.card1-content {
  position: absolute;
}
.card1-content h4 {
  right: 72px;
  color: #60677f;
}
.card1-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
}
.card1-content1 {
  position: absolute;
}
.card1-content1 h4 {
  right: 71px;
  bottom: 235px;
  font-size: 13px;
}
.card1-content1 h2 {
  top: 20px;
  font-size: 13px;
  margin-left: 20px;
  margin-bottom: 180px;
}
.card1-content1 h3 {
  position: relative;
  bottom: 202px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  font-size: 13px;
  margin-left: 150px;
}
.card1-content1 h5 {
  position: relative;
  margin-left: 150px;
  bottom: 247px;
}

.card2 h2,
h4,
.love-icon {
  position: relative;
}
.card3 h2,
h4,
.love-icon,
.card4 h2,
h4,
.love-icon,
.card5 h2,
h4,
.love-icon,
.card6 h2,
h4,
.love-icon,
.card7 h2,
h4,
.love-icon,
.card8 h2,
h4,
.love-icon,
.card9 h2,
h4,
.love-icon,
.card10 h2,
h4,
.love-icon,
.card11 h2,
h4,
.love-icon,
.card12 h2,
h4,
.love-icon {
  position: relative;
}
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img,
.card7 img,
.card8 img,
.card9 img,
.card10 img,
.card11 img,
.card12 img {
  margin-top: 10px;
  margin-left: 10px;
}
.card2 h2,
.card3 h2,
.card4 h2,
.card5 h2,
.card6 h2,
.card7 h2,
.card8 h2,
.card9 h2,
.card10 h2,
.card11 h2,
.card12 h2 {
  margin-top: 23px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #2c2f3a;
  margin-left: 90px;
  bottom: 98px;
}
.Technology2 {
  position: absolute;
  margin-top: 6px;
  right: 205px;
}
.card11 .Technology2 {
  position: absolute;
  right: 258px;
}
.card2 .Technology2 {
  position: absolute;
  right: 215px;
}
.card4 .Technology2 {
  position: absolute;
  right: 216px;
}
.card2 h4,
.card3 h4,
.card4 h4,
.card5 h4,
.card7 h4,
.card8 h4,
.card9 h4,
.card10 h4,
.card11 h4,
.card12 h4 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  margin-left: 90px;
  bottom: 81px;
}
.card3 .btn i {
  font-size: 20px;
  height: 10px;
}

.card6 h4 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  margin-left: 90px;
  bottom: 105px;
}
.card6-content h4 {
  right: 72px;
  margin-top: 40px;
}
.card6-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
  width: 350px;
  bottom: 120px;
}
.card5 h4 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  margin-left: 90px;
  bottom: 105px;
}
.card5-content h4 {
  right: 72px;
  margin-top: 40px;
}
.card5-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
  width: 350px;
  bottom: 120px;
}
.card12 h4 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  margin-left: 90px;
  bottom: 105px;
}
.card12-content h4 {
  right: 72px;
  margin-top: 40px;
}
.card12-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
  width: 350px;
  bottom: 120px;
}
.card9-content h4 {
  right: 72px;
  margin-top: 20px;
}
.card9-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
  width: 350px;
  bottom: 100px;
}
.card3-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
  width: 350px;
  bottom: 100px;
}
.card2-content,
.card3-content,
.card4-content,
.card5-content,
.card6-content,
.card7-content,
.card8-content,
.card9-content,
.card10-content,
.card11-content,
.card12-content {
  position: absolute;
}
.card2-content h4,
.card3-content h4,
.card4-content h4,
.card5-content h4,
.card7-content h4,
.card8-content h4,
.card10-content h4,
.card11-content h4 {
  right: 72px;
  color: #60677f;
}
.card2-content h2,
.card4-content h2,
.card5-content h2,
.card7-content h2,
.card8-content h2,
.card10-content h2,
.card11-content h2 {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  right: 72px;
  font-size: 14px;
}
.card2-content1,
.card3-content1,
.card4-content1,
.card5-content1,
.card6-content1,
.card7-content1,
.card8-content1,
.card9-content1,
.card10-content1,
.card11-content1,
.card12-content1 {
  position: absolute;
}
.card2-content1 h4,
.card3-content1 h4,
.card4-content1 h4,
.card5-content1 h4,
.card6-content1 h4,
.card7-content1 h4,
.card8-content1 h4,
.card9-content1 h4,
.card10-content1 h4,
.card11-content1 h4,
.card12-content1 h4 {
  right: 71px;
  bottom: 235px;
  font-size: 13px;
}
.card2-content1 h2,
.card3-content1 h2,
.card4-content1 h2,
.card5-content1 h2,
.card6-content1 h2,
.card7-content1 h2,
.card8-content1 h2,
.card9-content1 h2,
.card10-content1 h2,
.card11-content1 h2,
.card12-content1 h2 {
  top: 20px;
  font-size: 13px;
  margin-left: 20px;
  margin-bottom: 180px;
}
.card2-content1 h3,
.card3-content1 h3,
.card4-content1 h3,
.card5-content1 h3,
.card6-content1 h3,
.card7-content1 h3,
.card8-content1 h3,
.card9-content1 h3,
.card10-content1 h3,
.card11-content1 h3,
.card12-content1 h3 {
  position: relative;
  bottom: 202px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #60677f;
  font-size: 13px;
  margin-left: 150px;
}
.card2-content1 h5,
.card3-content1 h5,
.card4-content1 h5,
.card5-content1 h5,
.card6-content1 h5,
.card7-content1 h5,
.card8-content1 h5,
.card9-content1 h5,
.card10-content1 h5,
.card11-content1 h5,
.card12-content1 h5 {
  position: relative;
  margin-left: 150px;
  bottom: 247px;
}

.Showing-Page {
  position: absolute;
  top: 1440px;
}
.left-side h5 {
  font-size: 16px;
  color: #60677f;
  font-weight: 400;
  font-family: "Noto Sans";
}
.right-side {
  position: absolute;
  bottom: 1px;
  left: 920px;
}
.right-side h5 {
  position: relative;
 margin-top: 0px;
  width: 600px;
  font-size: 16px;
  color: #60677f;
  font-weight: 400;
  font-family: "Noto Sans";
  cursor: pointer;
}

.right-side .one {
  position: absolute;
  margin-left: 30px;
  height: 7px;
  width: 7px;
  display: inline-block;
  text-align: center; 
  line-height: 7px; 
  border-radius: 50%;
  background-color:#0f32b1;
  color: white;
  padding: 10px;
  top: 5px;
}
 .second {
  margin-left: 80px;
  margin-right:50px ;
  justify-content: space-between;
  grid-auto-columns:100px ;
}
.second .dot {
  position: relative;
 font-size: 25px;
 font-weight: 600;
 bottom: 5px;
}
h5 .last{
  color: #0f32b1;
  font-family: "Noto Sans";
  font-weight: 600;
  cursor: pointer;
 }
 h5 .last:hover {
  color: salmon;
 }
/* -----This is footer css code----- */

.footer {
  position: absolute;
  background-color: #061447;
  bottom: 0px;
  top: 2300px;
  padding: 40px 0 30px;
  width: 100%;
  height: 300px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 140px;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.logo {
  width: 56px;
}
.logo-title {
  position: absolute;
  margin-left: 65px;
  bottom: 278px;
  width: 160px;
}
.logo-title .txt1 {
  color: white;
  font-size: 18px;
  height: 12px;
}
.logo-title .txt2 {
  position: absolute;
  width: 160px;
  height: 9px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  top: 18px;
  right: 1px;
  color: white;
  letter-spacing: 3.8px;
}
.col p {
  color: #d1d3dc;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  width: 300px;
  margin-top: 20px;
  line-height: 23px;
}
.col1 {
  position: absolute;
  color: white;
  margin-left: 780px;
  bottom: 110px;
  top: 40px;
  cursor: pointer;
}
.col1 h3 {
  font-weight: 500;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
.col1 p {
  color: #d1d3dc;
  font-size: 15px;
  line-height: 20px;
}
.col1 p:hover {
  color: salmon;
}
.col2 {
  position: absolute;
  color: white;
  margin-left: 980px;
  bottom: 113px;
  top: 40px;
  cursor: pointer;
}
.col2 h3 {
  font-weight: 500;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
.col2 p:hover {
  color: salmon;
}

.col2 p {
  color: #d1d3dc;
  font-size: 15px;
  line-height: 20px;
}

.col3 {
  position: absolute;
  color: white;
  margin-left: 1180px;
  bottom: 113px;
  top: 40px;

}
.col3 h3 {
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
.col3 img {
  margin-top: 5px;
}
.col3-img1 img{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.col3-img1 img:hover {
  transform: scale(1.2);
}
.col3-img2 img{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.col3-img2 img:hover {
  transform: scale(1.1);
}

.copyright {
  position: absolute;
  color: #d1d3dc;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  margin-left: 90px;
  bottom: 30px;
}

.social-icons {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 1170px;
  bottom: 35px;
  margin-top: 20px;
}

.social-icons img {
  position: relative;
  padding: 14px;
  top: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.social-icons img:hover {
  transform: scale(1.1);
}
.footer hr {
  width: 88.5%;
  border: 0;
  border-bottom: 1px solid #d1d3dc;
  margin-top: 15px;
  margin-left: 92px;
}


